        <div class="container">
            <div class="calc">
                <h1>Counter
                    <!-- 
                    ngClass logic:
                    - 'forword': applied when indicator === 1 and not in reset state
                    - 'backward': applied when indicator === 0 and not in reset state
                    - 'reset': applied when reset is true
                  -->
                  <div class="counter-value" 
                    [ngClass]="{
                      'forword': indicator === 1 && !isReset,
                      'backward': indicator === 0 && !isReset,
                      'reset': isReset
                    }">
                  </div>
                  </h1>             
    <!-- Display the counter value -->
    <h2>{{ count$ | async }}</h2>

    <!-- Dispatch increment action -->
    <button (click)="onIncrement()">+</button>

    <!-- Dispatch decrement action -->
    <button (click)="OnDecrement()">-</button>

    <!-- Dispatch reset action -->
    <button (click)="onReset()">Reset</button>
            </div>
        </div>